language: node_js

node_js:
  - "stable"

jobs:
  include:
    - stage: test
      script: npm t
    - stage: npm deploy
      if: branch = master
      deploy:
        provider: npm
        email: $NPM_EMAIL
        api_key: $NPM_TOKEN
