{
  "extends": "amex/test",
  "rules": {
    "no-return-assign": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "react/jsx-filename-extension": 0
  } 
}
